/*  your css code here. If applicable */
body{
	margin:0;
	padding:0;
}
.card{
	width:350px;
	padding:10px;
	background-color:#f5f5f5;
	box-shadow:0px 0px 1px 1px #f5f5f5;
}
img{
	padding:25px;
	width:300px;
}
button{
	height:50px;
	width:100px;
	background-color:indianred;
	border-radius:10px
}